@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700,800&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 10px;
    background: #edeef0;
}

/*navbar style edit start*/

nav {
    background: black;
    color: white;
    width: 100%;
    height: 70px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav ul li {
    font-weight: 800;
    margin: 15px;
}

.navbar {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar:hover {
    color: orangered;
}

/*navbar style edit end*/


/*header style edit start*/

#head {
    background: white;
    color: black;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
}

#head p {
    padding: 40px;
    font-size: 20px;
}

/*header style edit end*/

img {
    margin-left: 180px;
    margin-top: 15px;
}

/*center style edit start*/

#center {
    margin-top: 20px;
    height: 130px;
}

#center p,
h1 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: large;
}

h1 {

    font-size: large;
    font-weight: 800;
}

#center input {
    border-radius: 20px;

    background-color: yellow;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline solid blue;
}

#contactus {
    display: flex;
    justify-content: space-evenly;
}

/*center style edit end*/

/*form style edit start*/

#form {
    padding: 10px;
    display: flex;
    justify-content: center;
    color: black;
}

#form input {
    border-color: cornflowerblue;
    border-radius: 10px;
    height: 25px;
    align-items: center;
    text-align: center;
}

#box {
    background: #edeef0;
    opacity: 40%;
}

.submit {
    background-color: yellow;
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
}

#form p {
    font-weight: normal;
    margin-left: 10px;
    font-size: 1.3em;
}

.submit:hover {
    color: #f05136;
}

/*form style edit start*/

/*table style edit start*/

.tab {
    margin: auto;
    width: 90%;
    height: 200px;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 45px;
}

table.tab th,
td {
    padding: 2px;
    width: 200px;
    border-style: solid;
    border-color: #f79646 #ccc;
    white-space: wrap;
    font-size: medium;
}

table.tab th {
    text-align: center;
}

table.tab td {
    text-align: center;
    font-weight: lighter;
}

table li {
    list-style: none;
    text-align: center;
}

.tab th:hover {
    color: orangered;
}

.tab td:hover {
    color: red;
}

/*table style edit end*/

/*footer style edit start*/

footer {
    background: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 10px;
}

footer p {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 11px;
}

/*footer style edit end*/